.MembersList{
    display: flex;
    flex-direction: column;

}
.MembersList h1{
    flex: 100%;
    text-align: center;
}
.member-card-container{
    flex-basis: 90%;
}
.member-card-content{
    display:flex;
    flex-direction: row;
}
.member-card{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding-left: none;
}
.member-card img{
    flex-basis: 15%;
    height: 50px;
    width: 50px;
}
.member-name{
    flex-basis:75%;
    text-decoration: none;
    font-size: 20px;
}
