.GroupsList{
    display: flex;
    flex-direction: column;
    padding-top: 50px;

}
.GroupsList h1{
    flex: 100%;
    text-align: center;
    font-weight: bold;
}

.group-card{
    color: black;
    background-color:rgb(90, 166, 236);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    
}
.group-card img{
    flex-basis: 15%;
    height: 50px;
    width: 50px;
}
.group-name{
    flex-basis:100%;
    align-content: center;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: none;
    font-family: "Arial Black", Gadget, sans-serif;
}
.group-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 812px;
    align-content: space-between;
    text-align: center;
}
.group-picture-container{
    height: 300px;
    width: 100vw;
    flex-basis:100%
}
.group-picture{
    width: 100vw;
    height: 300px;
}
.group-info h1{
    text-align: center;
    padding:10px
    

}
.details{
    padding: 10px;
    text-align: left;
}
.details label{
    padding: none;
    margin: 0;
    font-weight: bold;
    font-size: large;
}
.details div{
    font-size: medium;
    padding-bottom: 15px;
}
.group-info{
    text-align: left;
    flex-basis: 100%;
}
.group-button-container{
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: flex-end;
}
.group-button-container button{
    font-size: large;
    font-weight: bold;
    margin: 2px
}
.form-button-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;

}
.form-button-container button{
    flex-basis: 100%;
    margin: none;
    padding:none;
    width: 100%;
}