.MessagesList{
    display: flex;
    flex-direction: column;

}
.MessagesList h1{
    flex: 100%;
    text-align: center;
}
.message-card-container{
    flex-basis: 90%;
}
.message-card-content{
    display:flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.message-card{
    color: black;
    background-color:rgb(159, 204, 246);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    padding-left: none;
}
.message-card img{
    flex-basis: 15%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.message-card button{
    background-color: rgb(241, 97, 126);
}
.message-name{
    flex-basis:100%;
    color: rgb(12, 12, 12);
    align-content: center;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: none;
    font-family: "Arial Black", Gadget, sans-serif;
}
